[user]
	name = YOUR_NAME
	email = YOUR_EMAIL
	# signingkey はマシン毎に異なるので ~/.gitconfig.local で設定する
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = false
[tag]
	gpgsign = false
[core]
	autocrlf = input
	pager = delta
[interactive]
	difffilter = delta --color-only
[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true
[merge]
	conflictstyle = diff3
[diff]
	colormoved = default
[pull]
	rebase = true
[include]
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
