set clipboard=unnamed
set incsearch

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

" >>>> キーマップ変更 <<<<
let mapleader = "\<Space>" " スペースキーをショートカットのトリガーとして認識するように設定
" >>>> ノーマルモード <<<<
" ---- 論理行移動から表示行移動に変更 ----
nnoremap k gk
nnoremap gk k
nnoremap j gj
nnoremap gj j
" ----------------------------------------
" Space + w (上書き保存)
nnoremap <Leader>w :w<CR>
" Space + esc (vimを強制的に値を保存せずに抜ける)
nnoremap <Leader><Esc> :q!<CR>
" Space + wq (上書き保存してvimを抜ける)
nnoremap <Leader>x :wq<CR>
" ファイルを開いてフォーカスを戻す
nnoremap <Leader>o :ChromeOpen<CR>
" Space + hjkl(バッファ移動)
nnoremap <leader>h <C-w>h
nnoremap <Leader>j <C-w>j
nnoremap <Leader>k <C-w>k
nnoremap <Leader>l <C-w>l
nnoremap <Leader>n gt
nnoremap <Leader>p gT
" Ctrl + l (.vimrcの再読み込み)
nnoremap <C-l> :source ~/.vimrc<CR>
" Shift + h (今カーソルがある行の末尾に移動する)
nnoremap <S-h> ^
" Shift + l (今カーソルがある行の先頭に移動する)
nnoremap <S-l> $
" 消去コマンドでヤンクするのを防ぐ
nnoremap d "_d
nnoremap D "_D
nnoremap x "_x
xnoremap d "_d
xnoremap p "_dP

" >>>> ヴィジュアルモード <<<<
" Shift + h (行始まで選択)
vnoremap <S-h> ^
" Shift + l (行端まで選択)
vnoremap <S-l> $

" >>>> インサートモード <<<<
"	Ctrl + c (Escapeキーと同じ挙動にする)
imap <C-c> <Esc>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gb :action JumpToLastChange<CR>

nnoremap U :action FindUsages<CR>

" リネーム
nnoremap <leader>r :action RenameElement<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

" コメントアウト
nnoremap <C-/> :action CommentByLineComment<CR>
vnoremap <C-/> :action CommentByLineComment<CR>

" ジャンプもとに戻る
nnoremap <C--> <C-O>

" quick documentを開く
" JavaDocでJava以外の言語にも対応しているらしい
nnoremap <Leader>q :action QuickJavaDoc<CR>
